<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <td>
            <img src="{{book.book_image.url}}" alt="">
        </td>
    </tr>
    <tr>
        <td>bookname</td>
        <td>{{book.book_name}}</td>
    </tr>
    <tr>
        <td>price</td>
        <td>{{book.price}}</td>

    </tr>
    <tr>
        <td>page</td>
        <td>{{book.pages}}</td>
    </tr>
    <tr>
        <td>author</td>
        <td>{{book.author}}</td>
    </tr>
</table>
</body>
</html>